@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3f4f6;
}

.container-center {
  max-width: 800px;
  margin: auto;
}

h1 {
  background-color: yellow;
  color: #1f2937;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
}

p {
  line-height: 1.7rem;
}

img {
  display: block;
  margin: auto;
  padding: 1.5rem 0;
}

#txt-input,
#output-msg {
  border: 2px solid gray;
  display: block;
  width: 80%;
  height: 25vh;
  margin: 1rem;
  padding: 1rem;
  font-size: 23px;
  margin: auto;
}

textarea::placeholder {
  font-size: 20px;
}

.info-msg {
  text-align: center;
  margin: 1rem;
  font-weight: 600;
  font-size: 20px;
}

#btn-translate {
  display: block;
  background-color: yellow;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1.3rem;
  margin: 2rem auto;
  cursor: pointer;
}

#footer {
  background-color: yellow;
  color: #1f2937;
  font-weight: 400;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 17px;
  text-align: center;
}
